# Import numpy, pandas, matpotlib, and sklearn libraries

In [90]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.preprocessing import StandardScaler, scale
from sklearn.model_selection import train_test_split

# Load Advertising.csv using pandas

In [32]:
df = pd.read_csv("data/Advertising.csv", index_col = 0)

In [33]:
df.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [34]:
x = df.drop("Sales", axis = 1)
y = df["Sales"]
x.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

# Standardize each column of the dataset

In [99]:
scaled = pd.DataFrame(scale(x), columns=["TV","Radio","Newspaper"])
scaled.insert(0, 'bias', [1]*len(scaled))
scaled

     bias        TV     Radio  Newspaper
0       1  0.969852  0.981522   1.778945
1       1 -1.197376  1.082808   0.669579
2       1 -1.516155  1.528463   1.783549
3       1  0.052050  1.217855   1.286405
4       1  0.394182 -0.841614   1.281802
..    ...       ...       ...        ...
195     1 -1.270941 -1.321031  -0.771217
196     1 -0.617035 -1.240003  -1.033598
197     1  0.349810 -0.942899  -1.111852
198     1  1.594565  1.265121   1.640850
199     1  0.993206 -0.990165  -1.005979

[200 rows x 4 columns]

# Divide the dataset into training and testing, with 0.85 and 0.15 ratio, respectively.

In [104]:
x_train, x_test, y_train, y_test = train_test_split(scaled, y, train_size=0.85, test_size=0.15, random_state = 42)

In [105]:
print("x_train size:", x_train.shape)
print("y_train size:", y_train.shape)
print("\nx_test size:", x_test.shape)
print("y_test size:", y_test.shape)

x_train size: (170, 4)
y_train size: (170,)

x_test size: (30, 4)
y_test size: (30,)

# Fit the model on the training set

In [169]:
def initialize_weights():
    np.random.seed(2)
    init_w = np.random.uniform(low=0.0, high=1.0, size=4)
    return init_w

In [170]:
weight = initialize_weights()
weight

array([0.4359949 , 0.02592623, 0.54966248, 0.43532239])

In [171]:
def predict(features, weight):
    predictions = np.dot(features, weight)
    return predictions

In [172]:
predict(x_train, weight)

array([-5.02423053e-01,  6.42887652e-02,  2.01179507e+00,  2.33427757e+00,
        2.58080929e-01,  3.67137873e-01,  8.45134434e-01,  1.26756730e+00,
       -3.94946771e-01, -6.01719221e-01, -3.00431606e-01, -5.57226297e-01,
        6.23151167e-01, -2.31009946e-01, -6.14736444e-01, -6.58804965e-01,
        3.48564626e-01,  2.30155072e-01, -1.51676072e-01,  2.80155411e-01,
        1.36776891e+00, -5.13235661e-01,  2.23623702e+00,  1.37586911e+00,
       -7.34835701e-01, -2.06288090e-01, -1.72551691e-01,  1.59942557e+00,
        8.37663832e-03, -7.76277217e-01, -4.76492853e-01,  1.92016184e-01,
        3.69246560e-01,  1.54626706e+00, -6.73722695e-01, -3.76510959e-02,
        6.88140447e-02, -1.60569618e-01, -6.75347753e-01,  5.57371898e-01,
       -6.25389737e-01, -8.75594037e-01,  1.57581024e-01,  9.84498577e-01,
        1.91043774e+00, -4.17893439e-02,  2.98993516e-01,  6.35168330e-01,
        1.40620823e-01,  8.64215932e-01,  2.01324431e+00,  2.94581951e-01,
        2.57471261e-02,  4.03532964e-01, -5.40296868e-01,  9.73719751e-01,
        1.25834505e+00,  7.22408925e-01,  5.69386423e-01,  1.67580927e+00,
        5.03816358e-01,  1.80321189e+00,  2.37468526e+00, -2.55507412e-01,
       -4.83129644e-02,  4.02622403e-01,  3.31898475e-01,  6.21464429e-01,
        6.71668813e-02,  8.79020840e-01,  5.41608176e-01, -3.97970221e-01,
        9.74213679e-01, -7.90888434e-01,  1.01700454e-01,  2.73703013e-01,
       -3.64014475e-01,  1.10556679e-01, -4.11372051e-01, -5.66264938e-01,
        7.49555340e-01,  1.77506039e+00,  1.88702451e+00,  1.19655985e+00,
        8.87266606e-01,  4.85701967e-01,  1.12310645e+00,  7.44903895e-01,
        4.79392532e-01,  4.55798439e-01,  4.37965401e-01, -5.52427313e-01,
       -5.38231790e-01,  1.57066070e+00, -4.83982425e-01,  1.37145254e-01,
        3.84318777e-01,  1.69575301e+00, -1.20033541e-01,  1.02527426e+00,
        1.01112609e+00,  8.99392298e-01, -3.13681479e-01, -5.38778514e-02,
       -1.80804514e-01,  3.00864043e-01,  1.66675444e+00,  1.86194391e+00,
        1.86204163e+00,  1.12941480e+00, -7.74000272e-01, -4.40180396e-01,
        1.04448391e+00,  1.07694561e-01,  3.76737230e-01, -8.55009995e-01,
       -8.79344270e-02,  4.20658434e-01, -3.58621972e-01,  1.30147974e+00,
        5.18633797e-01, -2.68599583e-01,  1.75310426e+00, -9.83645355e-01,
       -6.28358765e-01,  2.60814507e-01,  6.91111275e-01, -3.46462676e-02,
        1.58887982e+00,  5.35430970e-01,  1.65214705e+00,  1.67412440e+00,
       -4.39874078e-01,  2.03756723e+00,  2.13795569e-01,  3.82831519e-01,
       -5.80830056e-01, -2.15347168e-01, -7.11533939e-01,  1.57595814e+00,
        5.70902257e-01,  1.35977811e+00, -3.52163245e-01,  2.25670112e-03,
        2.54964763e-01, -2.93627894e-01,  2.42862807e-01,  1.68764197e+00,
       -5.03689737e-01,  5.97243455e-01,  1.29161290e+00,  1.32251713e+00,
        2.99671048e-01,  5.60079629e-01,  2.40052887e-01, -3.02718253e-02,
        1.42417853e+00,  1.64870588e-03,  1.72260393e+00,  1.55914558e-01,
        7.36810602e-01, -5.20437119e-01,  1.08004404e+00, -4.07602580e-01,
        1.14984168e-01, -7.32453773e-02,  1.12042754e+00,  1.40731670e+00,
       -3.10263680e-01, -1.95711471e-01])

In [173]:
def compute_cost(features, target, data):
    N = len(targets)
    predictions = predict(features, weights)
    sq_error = (predictions - targets)**2
    return 1.0/(2*N) * sq_error.sum()

In [174]:
def update_weights(features, targets, weights, lr):
    x1 = features[:,0]
    x2 = features[:,1]
    x3 = features[:,2]
    
    d_w1 = -x1.dot(targets - predictions)
    d_w2 = -x2.dot(targets - predictions)
    d_w2 = -x2.dot(targets - predictions)
    
    weights[0][0] -= (lr * np.mean(d_w1))
    weights[1][0] -= (lr * np.mean(d_w2))
    weights[2][0] -= (lr * np.mean(d_w3))
    return weights

In [ ]:
def grad_descent: