# Import numpy, pandas, matpotlib, and sklearn libraries

In [90]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.preprocessing import StandardScaler, scale
from sklearn.model_selection import train_test_split

# Load Advertising.csv using pandas

In [32]:
df = pd.read_csv("data/Advertising.csv", index_col = 0)

In [33]:
df.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [34]:
x = df.drop("Sales", axis = 1)
y = df["Sales"]
x.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

# Standardize each column of the dataset

In [45]:
x_min = np.min(x, axis=0)
x_max = np.max(x, axis=0) 
X = (x - x_min)/(x_max- x_min).values
X.insert(0, 'bias', [1]*len(X))
X.head()

   bias        TV     Radio  Newspaper
1     1  0.775786  0.762097   0.605981
2     1  0.148123  0.792339   0.394019
3     1  0.055800  0.925403   0.606860
4     1  0.509976  0.832661   0.511873
5     1  0.609063  0.217742   0.510994

In [92]:
scaler = StandardScaler()
scaler = scaler.fit_transform(x)
scaler = pd.DataFrame(scaler, columns=["TV","Radio","Newspaper"])
scaler

           TV     Radio  Newspaper
0    0.969852  0.981522   1.778945
1   -1.197376  1.082808   0.669579
2   -1.516155  1.528463   1.783549
3    0.052050  1.217855   1.286405
4    0.394182 -0.841614   1.281802
..        ...       ...        ...
195 -1.270941 -1.321031  -0.771217
196 -0.617035 -1.240003  -1.033598
197  0.349810 -0.942899  -1.111852
198  1.594565  1.265121   1.640850
199  0.993206 -0.990165  -1.005979

[200 rows x 3 columns]

# Divide the dataset into training and testing, with 0.85 and 0.15 ratio, respectively.

In [53]:
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.75, test_size=0.25, random_state = 42)

In [54]:
print("x_train size:", x_train.shape)
print("y_train size:", y_train.shape)
print("\nx_test size:", x_test.shape)
print("y_test size:", y_test.shape)

x_train size: (150, 4)
y_train size: (150,)

x_test size: (50, 4)
y_test size: (50,)

# Fit the model on the training set

In [55]:
def initialize_weights():
    beta = np.dot(np.dot(np.linalg.inv(np.dot(x_train.T,x_train)),x_train.T),y_train)
    return beta

In [56]:
initialize_weights()

array([ 2.81087738, 13.43470329,  9.49624417,  0.29199193])